include AUTHORS
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
include requirements/base.in
recursive-include cohort_manager *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
