<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<div id="cohort-manager-root">
    <h3>Loading Cohort Manager...</h3>
</div>

<script>
${HTML(section_data['compiled_js'])}

    (() => {
        const myRequire = RequireJS.requirejs.config({
            context: 'cohort-manager', // Namespace these modules to not conflict with existing modules in edxapp
            paths: {
                'react': 'https://unpkg.com/react@16/umd/react.development',
                'react-dom': 'https://unpkg.com/react-dom@16/umd/react-dom.development',
            },
        });
        myRequire(['cohort-manager'], (f) => {console.trace(f);});
    })();
</script>
